.badge-csharp {
	color: #fff;
	background-color: #007213;
}

.badge-cplusplus {
	color: #fff;
	background-color: #a60b0b;
}

.badge-ue {
	color: #fff;
	background-color: #a60b0b;
}

.badge-java {
	color: #fff;
	background-color: #ff6666;
}

.badge-unity {
	color: #fff;
	background-color: #007213;
}

.badge-context {
	color: #fff;
	background-color: #00507b;
}

.badge-old {
	color: #fff;
	background-color: #c4c4c4;
}