.badge-csharp {
	color: #fff;
	background-color: #007213;
}

.badge-cplusplus {
	color: #fff;
	background-color: #a60b0b;
}

.badge-ue {
	color: #fff;
	background-color: #a60b0b;
}

.badge-jenkins {
	color: #fff;
	background-color: #4a55bd;
}

.badge-java {
	color: #fff;
	background-color: #ff6666;
}

.badge-unity {
	color: #fff;
	background-color: #00ae1d;
}

.badge-context {
	color: #fff;
	background-color: #00507b;
}

.badge-date {
	color: #fff;
	background-color: #b0b0b0;
}

.badge-kind {
	color: #fff;
	background-color: #910096;
}